ansi==0.1.3
apipkg==1.4
asn1crypto==0.23.0
beautifulsoup4==4.6.0
bottle==0.12.13
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
colorlog==3.1.0
cryptography>=2.3
daemonize==2.4.7
dnspython==1.15.0
dnspython3==1.15.0
docutils==0.12
errbot==5.1.2
execnet==1.4.1
flaky==3.1.1
idna==2.6
Jinja2>=2.10.1
Markdown==2.6.9
MarkupSafe==1.0
mock==2.0.0
nose==1.3.7
pbr==1.10.0
pep8==1.7.0
pip-review==0.4
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.18
Pygments==2.2.0
pygments-markdown-lexer==0.1.0.dev39
pyOpenSSL>=17.5.0
pytest==2.9.2
pytest-xdist==1.14
requests>=2.20.0
rocket-errbot==1.2.5
six==1.11.0
slackclient==1.0.9
sleekxmpp==1.3.1
threadpool==1.3.2
typing==3.6.2
urllib3>=1.23
waitress==1.4.2
WebOb==1.7.3
websocket-client==0.44.0
WebTest==2.0.28
Yapsy==1.11.223
